---
---

@import "{{ site.theme }}";
.inner h1{
  font-size: 65px;
  width: 600px;
}

.summary h1{
  font-size: 24px;
  color: rgba(136,153,168,1.00);
}
.summary h2 a{
  font-size: 32px;
  color: rgba(135,0,0,1.00);
}
.summary h2 a:hover{
  font-size: 34px;
  color: rgba(255,0,135,1.00);
}
.summary h2:hover{
  font-size: 34px;
  color: rgba(255,0,135,1.00);
  background-color:rgba(136,153,168,0.7);
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

