---
---

@import "{{ site.theme }}";
.inner h1{
  font-size: 65px;
  width: 600px;
}

.summary h1{
  font-size: 24px;
  color: rgba(136,153,168,1.00);
}
.summary h2 a{
  font-size: 24px;
  color: rgba(135,0,0,1.00);
}
.summary h2 a:hover{
  font-size: 24px;
  color: rgba(255,0,135,1.00);
}
.summary h2:hover{
  font-size: 24px;
  color: rgba(255,0,135,1.00);
  background-color:rgba(136,153,168,0.7);
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../image/github-buttonV4.png) 0 0 no-repeat;
  background-size: 202px;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../image/header-bgV3.png) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
aside#sidebar {
  float: right;
  width: 220px;
  min-height: 504px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.3;
  background: transparent url(../images/sidebar-bgV2.png) 0 0 no-repeat;
}
