---
---

@import "{{ site.theme }}";
.inner h1{
  font-size: 65 px;
  width: 600 px;
}

.summary h1{
  font-size: 32 px;
  color: rgba(136,153,168,1.00);
}
.summary h2 a{
  font-size: 42 px;
  color: rgba(135,0,0,1.00);
}
.summary h2 a:hover{
  font-size: 42 px;
  color: rgba(255,0,135,1.00);
  background-color:rgba(136,153,168,0.7);
}

